html * {
  font-family: Arial;
}

body {
  height: 99vh;
  width: 99vw;
  overflow: hidden;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content auto 75px;
  grid-template-areas:
    "title title"
    "leftMenu topText"
    "leftMenu boltBody"
    "leftBottomMenu boltBody";
}

h1 {
  text-align: center;
  font-size: 21px;
  background-color: white;
  grid-area: title;
  margin: 0px;
}
h2 {
  font-size: 18px;
  background-color: white;
  grid-area: leftMenu;
  margin-right: 10px;
}

select {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

button {
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#packageThicknessID {
  width: calc(100% - 4px);
  padding: 0px;
  margin: 0px;
}
#matchedBoltID {
  border: 2px solid black;
  text-align: center;
  grid-area: topText;
  margin-top: 10px;
  margin-right: 10px;
}

#midDiv {
  overflow-y: auto;
  grid-area: boltBody;
  margin-right: 10px;
  margin-bottom: 5px;
}

#boltsTableExportExcelDiv {
  grid-area: leftBottomMenu;
  margin-right: 10px;
}

.centerObj {
  display: block;
  text-align: center;
}
.table {
  border: 1px solid black;
  border-spacing: 0;
  font-family: Arial;
  font-size: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  visibility: hidden;
}

.noneDisplay {
  display: none;
}
.cellCenter {
  text-align: center;
  padding: 1px 5px;
}

.cellBorder {
  border: 1px solid black;
}

.inputNoBorder {
  border: 0px solid black;
  text-align: center;
  outline: 0px;
  font-family: Arial;
  font-size: 15px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 0px;
  width: calc(100% - 4px);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* тоже самое для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
